[submodule "memfof"]
	path = memfof
	url = https://github.com/msu-video-group/memfof.git
[submodule "MotionModes"]
	path = MotionModes
	url = https://github.com/adobe-research/MotionModes.git
[submodule "group-inference"]
	path = group-inference
	url = https://github.com/GaParmar/group-inference.git
[submodule "sam2"]
	path = sam2
	url = https://github.com/facebookresearch/sam2.git
